@use 'colors';
$font-stack: Recursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

/* Base Blocks */

/* Ventrue/Header 1 */
@mixin h1 {
    font-family: $font-stack;
    font-style: normal;
    font-size: 4rem;
    font-weight: 700;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 1;
    line-height: 90%;
}

/* Ventrue/Header 2 */
@mixin h2 {
    font-family: $font-stack;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 700;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
    line-height: 150%;
    letter-spacing: -0.02em;
}

/* Ventrue/Header 3 */
@mixin h3 {
    font-family: $font-stack;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 700;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
    line-height: 170%;
    letter-spacing: -0.02em;
}

/* Ventrue/Subtitle */
@mixin subtitle {
    font-family: $font-stack;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 300;
    font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
    line-height: 160%;
}

/* Ventrue/Body */
@mixin body {
    font-family: $font-stack;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
    line-height: 160%;
}

/* Ventrue/Pre-Title */
@mixin pretitle {
    font-family: $font-stack;
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 800;
    font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' 0, 'CRSV' 0;
    line-height: 160%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

/* Ventrue/Button Text */
@mixin buttontext {
    font-family: $font-stack;
    font-style: normal;
    font-size: 1rem;
    font-weight: 800;
    line-height: 100%;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

/* Stylistic Blocks */

/* Ventrue/Bold */
@mixin bold {
    font-size: inherit;
    font-weight: 800;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
    line-height: 160%;
    letter-spacing: 0.02em;
}

/* Ventrue/Italic */
@mixin italic {
    font-style: italic;
    font-size: inherit;
    font-weight: 400;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
    line-height: 160%;
}

/* Ventrue/Small */
@mixin small {
    font-size: 0.875rem;
    font-weight: 400;
    font-variation-settings: 'MONO' 0, 'CASL' 1, 'slnt' 0, 'CRSV' 0.5;
    line-height: 160%;
}

/* Ventrue/Link */
@mixin link {
    font-size: inherit;
    font-weight: 600;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
    line-height: 160%;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: colors.$grapefruit;
}

/* Ventrue/Code */
@mixin code {
    font-family: Recursive, monospace;
    font-size: 0.875em;
    font-weight: inherit;
    font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
    line-height: 160%;
    letter-spacing: 0.03em;
    background: #EEEEEE;
    border-radius: 0.375em;
    padding: 0.25rem;
}
